@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@tailwind utilities;

:root {
  --font-primary: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-primary);
}

html {
  scroll-behavior: smooth;
}

.scroll-down {
	header {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up {
	header {
		filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
	}
}

#carousel-container {
  width: 100%; /* You can set a specific width if necessary */
  overflow: hidden;
}

#carousel {
  display: flex;
  transition: transform 2s ease-in-out;
}

#carousel img {
  flex-shrink: 0;
}

/* Sticky left-side styling */
.sticky-left-side {
  position: sticky;
  top: 0;
  height: 100vh; 
  z-index: 10;
}


